<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/attetenkanen/AndroidStudioProjects/Untitled1.m4v</key>
	<data>
	Ym9va+ACAAAAAAUQQAAAAEngx+1w6gFV/AWgtz3vUKPLoq4IWgCIfowb6VHF0HjrAAAA
	AAAAAAAAAAAAAAAAAMwBAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABhdHRldGVua2FuZW4VAAAAAQEAAEFuZHJvaWRTdHVkaW9Qcm9qZWN0cwAAAA0AAAAB
	AQAAVW50aXRsZWQxLm00dgAAABAAAAABBgAAEAAAACAAAAA0AAAAVAAAAAgAAAAEAwAA
	nlgAAAAAAAAIAAAABAMAAFunAwAAAAAACAAAAAQDAAA91/QEAAAAAAgAAAAEAwAAk0s/
	CgAAAAAQAAAAAQYAAIQAAACUAAAApAAAALQAAAAIAAAAAAQAAEHH5myN4b4LGAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEb
	cwAAAAgAAAAABAAAQcfR8v6AAAAkAAAAAQEAADVCQkJCODlELTA3RUEtNDM0Mi1BRjc3
	LTY4Q0M0MEM5RDFGNBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABsAAAAAAAAAAUQAADE
	AAAAAAAAABAQAADsAAAAAAAAAEAQAADcAAAAAAAAAAIgAAC4AQAAAAAAAAUgAAAoAQAA
	AAAAABAgAAA4AQAAAAAAABEgAABsAQAAAAAAABIgAABMAQAAAAAAABMgAABcAQAAAAAA
	ACAgAACYAQAAAAAAADAgAADEAQAAAAAAAAHAAAAMAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAAcAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/attetenkanen/AndroidStudioProjects/Untitled2.m4v</key>
	<data>
	Ym9va+ACAAAAAAUQQAAAACSkeVeFX2huSvxsCvvLcEjCCNKGAkWZ9IIDVIrB+XDGAAAA
	AAAAAAAAAAAAAAAAAMwBAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABhdHRldGVua2FuZW4VAAAAAQEAAEFuZHJvaWRTdHVkaW9Qcm9qZWN0cwAAAA0AAAAB
	AQAAVW50aXRsZWQyLm00dgAAABAAAAABBgAAEAAAACAAAAA0AAAAVAAAAAgAAAAEAwAA
	nlgAAAAAAAAIAAAABAMAAFunAwAAAAAACAAAAAQDAAA91/QEAAAAAAgAAAAEAwAAfkw/
	CgAAAAAQAAAAAQYAAIQAAACUAAAApAAAALQAAAAIAAAAAAQAAEHH5mytalP6GAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEb
	cwAAAAgAAAAABAAAQcfR8v6AAAAkAAAAAQEAADVCQkJCODlELTA3RUEtNDM0Mi1BRjc3
	LTY4Q0M0MEM5RDFGNBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABsAAAAAAAAAAUQAADE
	AAAAAAAAABAQAADsAAAAAAAAAEAQAADcAAAAAAAAAAIgAAC4AQAAAAAAAAUgAAAoAQAA
	AAAAABAgAAA4AQAAAAAAABEgAABsAQAAAAAAABIgAABMAQAAAAAAABMgAABcAQAAAAAA
	ACAgAACYAQAAAAAAADAgAADEAQAAAAAAAAHAAAAMAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAAcAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/attetenkanen/AndroidStudioProjects/Untitled3.m4v</key>
	<data>
	Ym9va+ACAAAAAAUQQAAAAGDgzv0IGZQ2/tA1fs/ch8b2ZYk3Qt2uB69FGV2pQ8DAAAAA
	AAAAAAAAAAAAAAAAAMwBAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABhdHRldGVua2FuZW4VAAAAAQEAAEFuZHJvaWRTdHVkaW9Qcm9qZWN0cwAAAA0AAAAB
	AQAAVW50aXRsZWQzLm00dgAAABAAAAABBgAAEAAAACAAAAA0AAAAVAAAAAgAAAAEAwAA
	nlgAAAAAAAAIAAAABAMAAFunAwAAAAAACAAAAAQDAAA91/QEAAAAAAgAAAAEAwAA9kw/
	CgAAAAAQAAAAAQYAAIQAAACUAAAApAAAALQAAAAIAAAAAAQAAEHH5my4HzkUGAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEb
	cwAAAAgAAAAABAAAQcfR8v6AAAAkAAAAAQEAADVCQkJCODlELTA3RUEtNDM0Mi1BRjc3
	LTY4Q0M0MEM5RDFGNBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABsAAAAAAAAAAUQAADE
	AAAAAAAAABAQAADsAAAAAAAAAEAQAADcAAAAAAAAAAIgAAC4AQAAAAAAAAUgAAAoAQAA
	AAAAABAgAAA4AQAAAAAAABEgAABsAQAAAAAAABIgAABMAQAAAAAAABMgAABcAQAAAAAA
	ACAgAACYAQAAAAAAADAgAADEAQAAAAAAAAHAAAAMAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAAcAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/attetenkanen/AndroidStudioProjects/Untitled4.m4v</key>
	<data>
	Ym9va+ACAAAAAAUQQAAAADaNTHDktH8rUSmOFt3cJTRffJ221Mp9djqSDJIs3fJIAAAA
	AAAAAAAAAAAAAAAAAMwBAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABhdHRldGVua2FuZW4VAAAAAQEAAEFuZHJvaWRTdHVkaW9Qcm9qZWN0cwAAAA0AAAAB
	AQAAVW50aXRsZWQ0Lm00dgAAABAAAAABBgAAEAAAACAAAAA0AAAAVAAAAAgAAAAEAwAA
	nlgAAAAAAAAIAAAABAMAAFunAwAAAAAACAAAAAQDAAA91/QEAAAAAAgAAAAEAwAA0U0/
	CgAAAAAQAAAAAQYAAIQAAACUAAAApAAAALQAAAAIAAAAAAQAAEHH5mzB4A+OGAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEb
	cwAAAAgAAAAABAAAQcfR8v6AAAAkAAAAAQEAADVCQkJCODlELTA3RUEtNDM0Mi1BRjc3
	LTY4Q0M0MEM5RDFGNBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABsAAAAAAAAAAUQAADE
	AAAAAAAAABAQAADsAAAAAAAAAEAQAADcAAAAAAAAAAIgAAC4AQAAAAAAAAUgAAAoAQAA
	AAAAABAgAAA4AQAAAAAAABEgAABsAQAAAAAAABIgAABMAQAAAAAAABMgAABcAQAAAAAA
	ACAgAACYAQAAAAAAADAgAADEAQAAAAAAAAHAAAAMAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAAcAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/attetenkanen/AndroidStudioProjects/Untitled5.m4v</key>
	<data>
	Ym9va+ACAAAAAAUQQAAAAEcvEmVcFYDReyAtfmBTJudpn2O49c+C4Cgmaz8HoGFbAAAA
	AAAAAAAAAAAAAAAAAMwBAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABhdHRldGVua2FuZW4VAAAAAQEAAEFuZHJvaWRTdHVkaW9Qcm9qZWN0cwAAAA0AAAAB
	AQAAVW50aXRsZWQ1Lm00dgAAABAAAAABBgAAEAAAACAAAAA0AAAAVAAAAAgAAAAEAwAA
	nlgAAAAAAAAIAAAABAMAAFunAwAAAAAACAAAAAQDAAA91/QEAAAAAAgAAAAEAwAAnE4/
	CgAAAAAQAAAAAQYAAIQAAACUAAAApAAAALQAAAAIAAAAAAQAAEHH5mzSsrSKGAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEb
	cwAAAAgAAAAABAAAQcfR8v6AAAAkAAAAAQEAADVCQkJCODlELTA3RUEtNDM0Mi1BRjc3
	LTY4Q0M0MEM5RDFGNBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABsAAAAAAAAAAUQAADE
	AAAAAAAAABAQAADsAAAAAAAAAEAQAADcAAAAAAAAAAIgAAC4AQAAAAAAAAUgAAAoAQAA
	AAAAABAgAAA4AQAAAAAAABEgAABsAQAAAAAAABIgAABMAQAAAAAAABMgAABcAQAAAAAA
	ACAgAACYAQAAAAAAADAgAADEAQAAAAAAAAHAAAAMAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAAcAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/attetenkanen/AndroidStudioProjects/Untitled6.m4v</key>
	<data>
	Ym9va+ACAAAAAAUQQAAAAO1SKLA94S1OPfs6rfq8UiCNXypuVvKgDi5jLEuhz6fCAAAA
	AAAAAAAAAAAAAAAAAMwBAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABhdHRldGVua2FuZW4VAAAAAQEAAEFuZHJvaWRTdHVkaW9Qcm9qZWN0cwAAAA0AAAAB
	AQAAVW50aXRsZWQ2Lm00dgAAABAAAAABBgAAEAAAACAAAAA0AAAAVAAAAAgAAAAEAwAA
	nlgAAAAAAAAIAAAABAMAAFunAwAAAAAACAAAAAQDAAA91/QEAAAAAAgAAAAEAwAAPE8/
	CgAAAAAQAAAAAQYAAIQAAACUAAAApAAAALQAAAAIAAAAAAQAAEHH5mzh8lUzGAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEb
	cwAAAAgAAAAABAAAQcfR8v6AAAAkAAAAAQEAADVCQkJCODlELTA3RUEtNDM0Mi1BRjc3
	LTY4Q0M0MEM5RDFGNBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABsAAAAAAAAAAUQAADE
	AAAAAAAAABAQAADsAAAAAAAAAEAQAADcAAAAAAAAAAIgAAC4AQAAAAAAAAUgAAAoAQAA
	AAAAABAgAAA4AQAAAAAAABEgAABsAQAAAAAAABIgAABMAQAAAAAAABMgAABcAQAAAAAA
	ACAgAACYAQAAAAAAADAgAADEAQAAAAAAAAHAAAAMAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAAcAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/attetenkanen/AndroidStudioProjects/Untitled7.m4v</key>
	<data>
	Ym9va+ACAAAAAAUQQAAAAIafrhnbcVF3Zym2lIUGkC6Ah1SD687LoGSeCOmfiQOQAAAA
	AAAAAAAAAAAAAAAAAMwBAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABhdHRldGVua2FuZW4VAAAAAQEAAEFuZHJvaWRTdHVkaW9Qcm9qZWN0cwAAAA0AAAAB
	AQAAVW50aXRsZWQ3Lm00dgAAABAAAAABBgAAEAAAACAAAAA0AAAAVAAAAAgAAAAEAwAA
	nlgAAAAAAAAIAAAABAMAAFunAwAAAAAACAAAAAQDAAA91/QEAAAAAAgAAAAEAwAANlA/
	CgAAAAAQAAAAAQYAAIQAAACUAAAApAAAALQAAAAIAAAAAAQAAEHH5mzz6+9IGAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEb
	cwAAAAgAAAAABAAAQcfR8v6AAAAkAAAAAQEAADVCQkJCODlELTA3RUEtNDM0Mi1BRjc3
	LTY4Q0M0MEM5RDFGNBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABsAAAAAAAAAAUQAADE
	AAAAAAAAABAQAADsAAAAAAAAAEAQAADcAAAAAAAAAAIgAAC4AQAAAAAAAAUgAAAoAQAA
	AAAAABAgAAA4AQAAAAAAABEgAABsAQAAAAAAABIgAABMAQAAAAAAABMgAABcAQAAAAAA
	ACAgAACYAQAAAAAAADAgAADEAQAAAAAAAAHAAAAMAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAAcAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/attetenkanen/Downloads/WhatsApp Image 2026-05-31 at 22.02.17.jpeg</key>
	<data>
	Ym9vazQDAAAAAAUQQAAAAFcvT0NMnjpF6DAb4+ciV7IMYmiOdzUaxSOK9F7F2j7LAAAA
	AAAAAAAAAAAAAAAAABQCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABhdHRldGVua2FuZW4JAAAAAQEAAERvd25sb2FkcwAAACoAAAABAQAAV2hhdHNBcHAg
	SW1hZ2UgMjAyNi0wNS0zMSBhdCAyMi4wMi4xNy5qcGVnAAAQAAAAAQYAABAAAAAgAAAA
	NAAAAEgAAAAIAAAABAMAAJ5YAAAAAAAACAAAAAQDAABbpwMAAAAAAAgAAAAEAwAAjqcD
	AAAAAAAIAAAABAMAAPlRPwoAAAAAEAAAAAEGAACUAAAApAAAALQAAADEAAAACAAAAAAE
	AABBx+ZtF8JjBRgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAC
	AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
	aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHH0fL+gAAAJAAAAAEBAAA1QkJCQjg5
	RC0wN0VBLTQzNDItQUY3Ny02OENDNDBDOUQxRjQYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAALwAAAAEBAABOU1VSTEJvb2ttYXJr
	UXVhcmFudGluZU1vdW50ZWROZXR3b3JrVm9sdW1lc0tleQDYAAAA/v///wEAAAAAAAAA
	EQAAAAQQAAB8AAAAAAAAAAUQAADUAAAAAAAAABAQAAD8AAAAAAAAAEAQAADsAAAAAAAA
	AAIgAADIAQAAAAAAAAUgAAA4AQAAAAAAABAgAABIAQAAAAAAABEgAAB8AQAAAAAAABIg
	AABcAQAAAAAAABMgAABsAQAAAAAAACAgAACoAQAAAAAAADAgAADUAQAAAAAAAAHAAAAc
	AQAAAAAAABHAAAAgAAAAAAAAABLAAAAsAQAAAAAAABDQAAAEAAAAAAAAANwBAIDUAQAA
	AAAAAA==
	</data>
	<key>/Users/attetenkanen/Downloads/WhatsApp Image 2026-05-31 at 22.03.32.jpeg</key>
	<data>
	Ym9vazQDAAAAAAUQQAAAAAoJF+MTW/xSMEd+AIZP0lCfqH2UKMRzSH4MTavvD7izAAAA
	AAAAAAAAAAAAAAAAABQCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABhdHRldGVua2FuZW4JAAAAAQEAAERvd25sb2FkcwAAACoAAAABAQAAV2hhdHNBcHAg
	SW1hZ2UgMjAyNi0wNS0zMSBhdCAyMi4wMy4zMi5qcGVnAAAQAAAAAQYAABAAAAAgAAAA
	NAAAAEgAAAAIAAAABAMAAJ5YAAAAAAAACAAAAAQDAABbpwMAAAAAAAgAAAAEAwAAjqcD
	AAAAAAAIAAAABAMAABdSPwoAAAAAEAAAAAEGAACUAAAApAAAALQAAADEAAAACAAAAAAE
	AABBx+ZtGYQkIRgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAC
	AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
	aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHH0fL+gAAAJAAAAAEBAAA1QkJCQjg5
	RC0wN0VBLTQzNDItQUY3Ny02OENDNDBDOUQxRjQYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAALwAAAAEBAABOU1VSTEJvb2ttYXJr
	UXVhcmFudGluZU1vdW50ZWROZXR3b3JrVm9sdW1lc0tleQDYAAAA/v///wEAAAAAAAAA
	EQAAAAQQAAB8AAAAAAAAAAUQAADUAAAAAAAAABAQAAD8AAAAAAAAAEAQAADsAAAAAAAA
	AAIgAADIAQAAAAAAAAUgAAA4AQAAAAAAABAgAABIAQAAAAAAABEgAAB8AQAAAAAAABIg
	AABcAQAAAAAAABMgAABsAQAAAAAAACAgAACoAQAAAAAAADAgAADUAQAAAAAAAAHAAAAc
	AQAAAAAAABHAAAAgAAAAAAAAABLAAAAsAQAAAAAAABDQAAAEAAAAAAAAANwBAIDUAQAA
	AAAAAA==
	</data>
	<key>/Users/attetenkanen/Downloads/WhatsApp Image 2026-05-31 at 22.28.36 (1).jpeg</key>
	<data>
	Ym9vazgDAAAAAAUQQAAAAOQtOqYheohjM3bKaC/I8gHqdyzyEcF37p1MtefeowZAAAAA
	AAAAAAAAAAAAAAAAABgCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABhdHRldGVua2FuZW4JAAAAAQEAAERvd25sb2FkcwAAAC4AAAABAQAAV2hhdHNBcHAg
	SW1hZ2UgMjAyNi0wNS0zMSBhdCAyMi4yOC4zNiAoMSkuanBlZwAAEAAAAAEGAAAQAAAA
	IAAAADQAAABIAAAACAAAAAQDAACeWAAAAAAAAAgAAAAEAwAAW6cDAAAAAAAIAAAABAMA
	AI6nAwAAAAAACAAAAAQDAAAwUj8KAAAAABAAAAABBgAAmAAAAKgAAAC4AAAAyAAAAAgA
	AAAABAAAQcfmbSEKmcQYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAE
	AwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
	bnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBx9Hy/oAAACQAAAABAQAANUJC
	QkI4OUQtMDdFQS00MzQyLUFGNzctNjhDQzQwQzlEMUY0GAAAAAECAACBAAAAAQAAAO8T
	AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAC8AAAABAQAATlNVUkxCb29r
	bWFya1F1YXJhbnRpbmVNb3VudGVkTmV0d29ya1ZvbHVtZXNLZXkA2AAAAP7///8BAAAA
	AAAAABEAAAAEEAAAgAAAAAAAAAAFEAAA2AAAAAAAAAAQEAAAAAEAAAAAAABAEAAA8AAA
	AAAAAAACIAAAzAEAAAAAAAAFIAAAPAEAAAAAAAAQIAAATAEAAAAAAAARIAAAgAEAAAAA
	AAASIAAAYAEAAAAAAAATIAAAcAEAAAAAAAAgIAAArAEAAAAAAAAwIAAA2AEAAAAAAAAB
	wAAAIAEAAAAAAAARwAAAIAAAAAAAAAASwAAAMAEAAAAAAAAQ0AAABAAAAAAAAADgAQCA
	2AEAAAAAAAA=
	</data>
	<key>/Users/attetenkanen/Downloads/WhatsApp Image 2026-05-31 at 22.29.25 (1).jpeg</key>
	<data>
	Ym9vazgDAAAAAAUQQAAAAKeowOfq8ZTSkFj5R5U2uxli3e++ofRNlLmY4B1yi6geAAAA
	AAAAAAAAAAAAAAAAABgCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABhdHRldGVua2FuZW4JAAAAAQEAAERvd25sb2FkcwAAAC4AAAABAQAAV2hhdHNBcHAg
	SW1hZ2UgMjAyNi0wNS0zMSBhdCAyMi4yOS4yNSAoMSkuanBlZwAAEAAAAAEGAAAQAAAA
	IAAAADQAAABIAAAACAAAAAQDAACeWAAAAAAAAAgAAAAEAwAAW6cDAAAAAAAIAAAABAMA
	AI6nAwAAAAAACAAAAAQDAABAUj8KAAAAABAAAAABBgAAmAAAAKgAAAC4AAAAyAAAAAgA
	AAAABAAAQcfmbSQ5rWAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAE
	AwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
	bnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBx9Hy/oAAACQAAAABAQAANUJC
	QkI4OUQtMDdFQS00MzQyLUFGNzctNjhDQzQwQzlEMUY0GAAAAAECAACBAAAAAQAAAO8T
	AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAC8AAAABAQAATlNVUkxCb29r
	bWFya1F1YXJhbnRpbmVNb3VudGVkTmV0d29ya1ZvbHVtZXNLZXkA2AAAAP7///8BAAAA
	AAAAABEAAAAEEAAAgAAAAAAAAAAFEAAA2AAAAAAAAAAQEAAAAAEAAAAAAABAEAAA8AAA
	AAAAAAACIAAAzAEAAAAAAAAFIAAAPAEAAAAAAAAQIAAATAEAAAAAAAARIAAAgAEAAAAA
	AAASIAAAYAEAAAAAAAATIAAAcAEAAAAAAAAgIAAArAEAAAAAAAAwIAAA2AEAAAAAAAAB
	wAAAIAEAAAAAAAARwAAAIAAAAAAAAAASwAAAMAEAAAAAAAAQ0AAABAAAAAAAAADgAQCA
	2AEAAAAAAAA=
	</data>
	<key>/Users/attetenkanen/Downloads/WhatsApp Video 2026-05-31 at 22.11.57 (1).mp4</key>
	<data>
	Ym9vazgDAAAAAAUQQAAAAJUhcdZPqOeFJf4MeHnL31jGhKCymvNOgBEifXarFYxFAAAA
	AAAAAAAAAAAAAAAAABgCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABhdHRldGVua2FuZW4JAAAAAQEAAERvd25sb2FkcwAAAC0AAAABAQAAV2hhdHNBcHAg
	VmlkZW8gMjAyNi0wNS0zMSBhdCAyMi4xMS41NyAoMSkubXA0AAAAEAAAAAEGAAAQAAAA
	IAAAADQAAABIAAAACAAAAAQDAACeWAAAAAAAAAgAAAAEAwAAW6cDAAAAAAAIAAAABAMA
	AI6nAwAAAAAACAAAAAQDAAAgUj8KAAAAABAAAAABBgAAmAAAAKgAAAC4AAAAyAAAAAgA
	AAAABAAAQcfmbR1w38gYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAE
	AwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
	bnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBx9Hy/oAAACQAAAABAQAANUJC
	QkI4OUQtMDdFQS00MzQyLUFGNzctNjhDQzQwQzlEMUY0GAAAAAECAACBAAAAAQAAAO8T
	AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAC8AAAABAQAATlNVUkxCb29r
	bWFya1F1YXJhbnRpbmVNb3VudGVkTmV0d29ya1ZvbHVtZXNLZXkA2AAAAP7///8BAAAA
	AAAAABEAAAAEEAAAgAAAAAAAAAAFEAAA2AAAAAAAAAAQEAAAAAEAAAAAAABAEAAA8AAA
	AAAAAAACIAAAzAEAAAAAAAAFIAAAPAEAAAAAAAAQIAAATAEAAAAAAAARIAAAgAEAAAAA
	AAASIAAAYAEAAAAAAAATIAAAcAEAAAAAAAAgIAAArAEAAAAAAAAwIAAA2AEAAAAAAAAB
	wAAAIAEAAAAAAAARwAAAIAAAAAAAAAASwAAAMAEAAAAAAAAQ0AAABAAAAAAAAADgAQCA
	2AEAAAAAAAA=
	</data>
	<key>/Users/attetenkanen/Downloads/WhatsApp Video 2026-06-02 at 09.27.34.mp4</key>
	<data>
	Ym9vazQDAAAAAAUQQAAAAB0ZnvEOtv4pQjyqPWBy4NLxA8ByoLUgfuv8R5srcjNzAAAA
	AAAAAAAAAAAAAAAAABQCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABhdHRldGVua2FuZW4JAAAAAQEAAERvd25sb2FkcwAAACkAAAABAQAAV2hhdHNBcHAg
	VmlkZW8gMjAyNi0wNi0wMiBhdCAwOS4yNy4zNC5tcDQAAAAQAAAAAQYAABAAAAAgAAAA
	NAAAAEgAAAAIAAAABAMAAJ5YAAAAAAAACAAAAAQDAABbpwMAAAAAAAgAAAAEAwAAjqcD
	AAAAAAAIAAAABAMAAExhQwoAAAAAEAAAAAEGAACUAAAApAAAALQAAADEAAAACAAAAAAE
	AABBx+dXrzr8tRgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAC
	AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
	aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHH0fL+gAAAJAAAAAEBAAA1QkJCQjg5
	RC0wN0VBLTQzNDItQUY3Ny02OENDNDBDOUQxRjQYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAALwAAAAEBAABOU1VSTEJvb2ttYXJr
	UXVhcmFudGluZU1vdW50ZWROZXR3b3JrVm9sdW1lc0tleQDYAAAA/v///wEAAAAAAAAA
	EQAAAAQQAAB8AAAAAAAAAAUQAADUAAAAAAAAABAQAAD8AAAAAAAAAEAQAADsAAAAAAAA
	AAIgAADIAQAAAAAAAAUgAAA4AQAAAAAAABAgAABIAQAAAAAAABEgAAB8AQAAAAAAABIg
	AABcAQAAAAAAABMgAABsAQAAAAAAACAgAACoAQAAAAAAADAgAADUAQAAAAAAAAHAAAAc
	AQAAAAAAABHAAAAgAAAAAAAAABLAAAAsAQAAAAAAABDQAAAEAAAAAAAAANwBAIDUAQAA
	AAAAAA==
	</data>
	<key>/Users/attetenkanen/Downloads/WhatsApp Video 2026-06-02 at 09.39.19.mp4</key>
	<data>
	Ym9vazQDAAAAAAUQQAAAAH7R6TpOtjZtMNbzp/zQYnMhiMaK0eLJ29cX2vD0376qAAAA
	AAAAAAAAAAAAAAAAABQCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABhdHRldGVua2FuZW4JAAAAAQEAAERvd25sb2FkcwAAACkAAAABAQAAV2hhdHNBcHAg
	VmlkZW8gMjAyNi0wNi0wMiBhdCAwOS4zOS4xOS5tcDQAAAAQAAAAAQYAABAAAAAgAAAA
	NAAAAEgAAAAIAAAABAMAAJ5YAAAAAAAACAAAAAQDAABbpwMAAAAAAAgAAAAEAwAAjqcD
	AAAAAAAIAAAABAMAAGdnQwoAAAAAEAAAAAEGAACUAAAApAAAALQAAADEAAAACAAAAAAE
	AABBx+dZD9mEcRgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAC
	AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
	aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHH0fL+gAAAJAAAAAEBAAA1QkJCQjg5
	RC0wN0VBLTQzNDItQUY3Ny02OENDNDBDOUQxRjQYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAALwAAAAEBAABOU1VSTEJvb2ttYXJr
	UXVhcmFudGluZU1vdW50ZWROZXR3b3JrVm9sdW1lc0tleQDYAAAA/v///wEAAAAAAAAA
	EQAAAAQQAAB8AAAAAAAAAAUQAADUAAAAAAAAABAQAAD8AAAAAAAAAEAQAADsAAAAAAAA
	AAIgAADIAQAAAAAAAAUgAAA4AQAAAAAAABAgAABIAQAAAAAAABEgAAB8AQAAAAAAABIg
	AABcAQAAAAAAABMgAABsAQAAAAAAACAgAACoAQAAAAAAADAgAADUAQAAAAAAAAHAAAAc
	AQAAAAAAABHAAAAgAAAAAAAAABLAAAAsAQAAAAAAABDQAAAEAAAAAAAAANwBAIDUAQAA
	AAAAAA==
	</data>
</dict>
</plist>
